---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<style>
    header {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
</style>

<header>
    <nav>
        <ul>
            <li><strong>Astro Blog</strong></li>
        </ul>
        <Hamburger />
        <div class="header-right">
            <Navigation />
            <ThemeIcon />
        </div>
    </nav>
</header>
